*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
    background-image: url(https://images.unsplash.com/photo-1610348725531-843dff563e2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(34, 31, 33, 0.8);
    min-height: 100vh;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

h2 {
    color: #fdfdfd;
	font-size: 3em;
	display: block;
    margin-top: 2rem;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
    color: #fdfdfd;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
    color: #555;
	background-color: #EEE;
}

input {
    padding: .9rem;
    width: 100%;
    padding-bottom: 0.2rem;
    background-color: transparent;
    border:none;
    border-bottom: 3px solid #fd951f;
    color: #fdfdfd;
    font-size: 1.2rem;
    outline: none;
}

.input {
    margin-bottom: 24px;
    position: relative;
    width: 45%;
	display: inline-block;
	padding: 10px 0px;
}

input ~ label {
    position: absolute;
    top: 6px;
    left: 0;
    font-weight: bold;
    color: #fff;

    transition: .4s;
}

input:focus ~ label {
    transform: translateY(-24px);
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.grupo{
    margin-right: 2rem;
}

button{
	padding: .5em 2em;
	border: 0;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 0;
	margin-top: 1rem;
	color: #fff;
	background-color:#fd951f;
	border-color: #fd951f;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-cliente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.cliente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

.alerta {
    color: #dbce12;
}

.bom {
    color: #12db34;
}

.obesidade {
    color: #ff6961 ;
}

.obesidade__grave {
    color: #9400d3;
}